.container{
    margin-top:10px;
    display:flex;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    background-image:url(https://img.freepik.com/foto-gratis/perro-fiesta_23-2147787330.jpg?w=1480&t=st=1674242668~exp=1674243268~hmac=1a0e776ab2870d501da14da2b6af15affed0775baaa68eba7f7925ee3651978c) ;
    background-repeat: no-repeat;
    background-size:100%;
    height: 42vw;
    color: #3B3204;
    font-family: 'Reem Kufi Ink', sans-serif;
}