body {
  margin: 0;
  font-family: 'Reem Kufi Ink', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 10px;
}
/* p{
  font-family: 'Montserrat', sans-serif;
}
 */
